@{
    ViewBag.Title = "Home Page";
}


<body>

    <button class="accordion">
        <table id="spectitles">
            <tr>
                <th id="speca1">product 1 spec</th>
                <th id="speca2">product 2 spec</th>
            </tr>
        </table>
    </button>
    <div class="panel">
        <p>
            <table id="specdetails">
                <tr>
                    <th id="deta1">product 1 details</th>
                    <th id="deta2">product 2 details</th>
                </tr>
            </table>
        </p>
    </div>

    <button class="accordion">
        <table id="spectitles">
            <tr>
                <th id="specb1">product 1 spec</th>
                <th id="specb2">product 2 spec</th>
            </tr>
        </table>
    </button>
    <div class="panel">
        <p>
            <table id="specdetails">
                <tr>
                    <th id="detb1">product 1 details</th>
                    <th id="detb2">product 2 details</th>
                </tr>
            </table>
        </p>
    </div>

    <button class="accordion">
        <table id="spectitles">
            <tr>
                <th id="specc1">product 1 spec</th>
                <th id="specc2">product 2 spec</th>
            </tr>
        </table>
    </button>
    <div class="panel">
        <p>
            <table id="specdetails">
                <tr>
                    <th id="detc1">product 1 details</th>
                    <th id="detc2">product 2 details</th>
                </tr>
            </table>
        </p>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>

</body>