@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Title</h2>

<table id="producttable">
    <tr>
        <td>
            <img src="~/Content/Images/laptop.jpg" alt="laptop" height="60" width="120" />
        </td>
        <td>
            <img src="~/Content/Images/laptop.jpg" alt="laptop" height="60" width="120" \ />
        </td>
    </tr>
    <tr>
        <th>
            Product 1
        </th>
        <th>
            Product 2
        </th>
    </tr>
</table>
<div id="recommendation">
    Based on our data, we recommend: Product 1.
</div>

<div>
    Not satisfied with our recommendation? Search for more products:
    <table id="spectitles">
        <tr>
            <td>
                <div id="scrollable-dropdown-menu">
                    <input class="typeahead" type="text" placeholder="Enter another product here">
                </div>
            </td>
            <td>
                <div id="scrollable-dropdown-menu">
                    <input class="typeahead" type="text" placeholder="Enter another product here">
                </div>
            </td>
        </tr>
    </table>
</div>

<button class="accordion">
    <table id="spectitles">
        <tr>
            <th id="speca1">product 1 spec</th>
            <th id="speca2">product 2 spec</th>
        </tr>
    </table>
</button>
<div class="panel">
    <p>
        <table id="specdetails">
            <tr>
                <td id="deta1">product 1 details</td>
                <td id="deta2">product 2 details</td>
            </tr>
        </table>
    </p>
</div>

<button class="accordion">
    <table id="spectitles">
        <tr>
            <th id="specb1">product 1 spec</th>
            <th id="specb2">product 2 spec</th>
        </tr>
    </table>
</button>
<div class="panel">
    <p>
        <table id="specdetails">
            <tr>
                <td id="detb1">product 1 details</td>
                <td id="detb2">product 2 details</td>
            </tr>
        </table>
    </p>
</div>

<button class="accordion">
    <table id="spectitles">
        <tr>
            <th id="specc1">product 1 spec</th>
            <th id="specc2">product 2 spec</th>
        </tr>
    </table>
</button>
<div class="panel">
    <p>
        <table id="specdetails">
            <tr>
                <td id="detc1">product 1 details</td>
                <td id="detc2">product 2 details</td>
            </tr>
        </table>
    </p>
</div>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>